name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
     ECR_REPO_PREFIX: hello
     IMAGE_TAG: v1.0
   
    steps:
    - uses: actions/checkout@v3
 # Login to Amazon ECR with Secret Keys from CLI
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
        AWS_REGION: us-east-1        
    - name: Build the Docker image
      env:
         ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        # Docker build
        docker build -t $ECR_REGISTRY/$ECR_REPO_PREFIX-app:$IMAGE_TAG .
        docker run -d -p 80:80 --name app $ECR_REGISTRY/$ECR_REPO_PREFIX-app:$IMAGE_TAG
        docker ps
        echo "Pause for 10 seconds to let container start"
          sleep 10
          docker push $ECR_REGISTRY/$ECR_REPO_PREFIX-app:$IMAGE_TAG
        
